*{
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
}

body {
  position: relative;
  background-color: #ed9a15;
  display: flex;
  min-height: 100vh;
}
.krabby{
  position: absolute;
  bottom: 270px;
  width: 300px;
  left: 250px;
}
.question{
  position: absolute;
  left: 513px;
  top: 180px;
  font-family:'BungeeSpice', 'serif';
  color:  #234668;
  font-weight: bold;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  margin-right: 400px;
}

.speakbaloon{
  width: 590px;
  position: absolute;
  right: 680px;
  top: 10px;
}

.score-section {
  position: absolute;
  font-size: 24px;
  right: 730px;
  top: 350px;
  align-items: center;
  margin-right: 40px;
  font-family:'BungeeSpice', 'serif';
  color:  #234668;
}

.questionNumber{
  margin-right: 40px;
  font-family:'BungeeSpice', 'serif';
  color:  #234668;

}
.Neptune{
  width: 300px;
  position: absolute;
  left: 1000px;
  margin-top: 150px;
}
/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}
/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonsQuestions{
  position: absolute;
  bottom: 120px;
  left: 320px;
  width: 60vw;
}

button {
  margin-top: 3px;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}


.initial-button{
  font-size: large;
  background-color: #252d4a;
  position: absolute;
  bottom: 420px;
  width: 200px;
  height: auto;
  left: 750px;
  justify-content: center;
}